<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Cấu hình format log -->
    <property name="LOG_PATTERN" value="%d{dd-MM-yyyy HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"/>

    <!-- Appender 1: combine.log -->
    <appender name="COMBINE_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/combine.log</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/combine.%d{dd-MM-yyyy}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- Appender 2: error.log -->
    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/error.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/error.%d{dd-MM-yyyy}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- Appender 3: Ghi log ra console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Ghi log cho toàn bộ ứng dụng -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="COMBINE_FILE"/>
        <appender-ref ref="ERROR_FILE"/>
    </root>
</configuration>